.map-container {
    width: 100%;
    height: 100vh;
    background: #f0f0f0;
    overflow: hidden;
    position: relative;
}

:host ::ng-deep circle.station {
    transition: fill 0.3s, r 0.3s;
}

:host ::ng-deep circle.player {
    transition: cx 0.1s linear, cy 0.1s linear;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}
